@use './partial/common' as *;
@use './partial/typography' as *;
@use './partial/colors' as *;
// HEADER
.title{
    display: flex;
        #logo{
            width: 90px;
            background-color: aliceblue;
            
        }
    
}
// MAIN
.main{
    background-color: $orange;

    .collection{
        background-color: white;
    }
}

// SINGLE CARD
.yugi-card{
    background-color: $orange;
    width: calc(100% / 5);
}